In [39]:
%pylab inline
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [10]:
!more ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [9]:
df = pd.read_csv('ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [11]:
!more ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [21]:
df = pd.read_csv('ex2.csv', names=['a','b','c','d','e'])
df

   a   b   c   d      e
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [22]:
!more ex3.csv

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [25]:
df = pd.read_table('ex3.csv', sep='\s+')
df

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [26]:
!more ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [34]:
df = pd.read_csv('ex4.csv')
df

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [31]:
pd.read_csv?

In [36]:
import json
with open('example.json') as f:
    ori = f.read()
data = json.loads(ori)
data?

In [40]:
df = DataFrame(data)
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9