In [31]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [2]:
se = Series([1.1,3,5,-1])
se

0    1.1
1    3.0
2    5.0
3   -1.0
dtype: float64

In [5]:
sdata = {'Ohio':35000, 'Texas':71000, 'Oregon':16000, 'Utah':5000}
obj4 = Series(sdata, index=['California', 'Ohio', 'Oregon', 'Texas'])
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [7]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [10]:
data = {'state':['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year':[2000,2001,2002,2001,2001],
        'pop':[1.5,1.7,3.6,2.4,2.9]}
frame = DataFrame(data, columns=['year','state','pop'])
frame

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2001  Nevada  2.9

In [22]:
frame.loc[1]

year     2001
state    Ohio
pop       1.7
Name: 1, dtype: object

In [29]:
frame.ix??

In [28]:
obj = Series(range(3), index=['a', 'b', 'c'])
index = obj.index
index[:2]

Index(['a', 'b'], dtype='object')

In [33]:
frame = DataFrame(np.arange(9).reshape((3,3)), index=['a', 'c', 'd'], columns=['Ohio', 'Texas', 'California'])
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [45]:
f2 = frame.reindex(['a', 'b', 'c', 'd'], method='ffill')
f3 = frame.loc[['a', 'b', 'c', 'd'], ['Texas', 'Utah', 'California']]
f3

   Texas  Utah  California
a    1.0   NaN         2.0
b    NaN   NaN         NaN
c    4.0   NaN         5.0
d    7.0   NaN         8.0

In [49]:
f3.drop('Utah',axis=1)

   Texas  California
a    1.0         2.0
b    NaN         NaN
c    4.0         5.0
d    7.0         8.0

In [54]:
frame = DataFrame(np.arange(16).reshape(4,4), index=['Ohio','Colorado','Utah','Oregon'], columns=['one','two','three','four'])
frame[['two', 'one']]

          two  one
Ohio        1    0
Colorado    5    4
Utah        9    8
Oregon     13   12

In [55]:
frame < 5

            one    two  three   four
Ohio       True   True   True   True
Colorado   True  False  False  False
Utah      False  False  False  False
Oregon    False  False  False  False

In [56]:
s1 = Series([1.2,3.4,-.4,4], index=['a','c','d','e'])
s2 = Series([1,2,3,4,5], index=['a','c','e','f','g'])

In [59]:
s1 + s2

a    2.2
c    5.4
d    NaN
e    7.0
f    NaN
g    NaN
dtype: float64

In [73]:
import pickle
with open('d:/pydata-book/ch05/yahoo_price.pkl', 'rb') as f:
    pickle.loads(f)

TypeError: a bytes-like object is required, not '_io.BufferedReader'

In [2]:
import MySQLdb as mdb
conn = mdb.connect('localhost','root','root')
conn

In [8]:
cursor = conn.cursor()
cls = cursor.execute('select * from classes')

In [1]:
import sqlalchemy
en = sqlalchemy.create_engine('mysql+mysqldb://root:root@localhost/fitness')
conn = en.connect()
import pandas as pd
pd.read_sql_table('classes', conn)

,classId,descriptionId,endTime,locationAddress,locationId,locationName,locationPhone,maxCapacity,pullDate,scheduleId,...,staffId,staffImage,staffName,startTime,state,totalBooked,waitlist,waitlistAvailable,webBooked,webCapacity
0,19115,257,2017-06-16 10:15:00,4051 S Broad St,1,Clubville,8777554279,30,2017-06-16 17:40:04,2143,...,100000237,https://clients.mindbodyonline.com/studios/Dem...,Dan Darragh,2017-06-16 09:15:00,0,0,0,0,0,20
1,19116,257,2017-06-23 10:15:00,4051 S Broad St,1,Clubville,8777554279,30,2017-06-16 17:40:04,2143,...,100000237,https://clients.mindbodyonline.com/studios/Dem...,Dan Darragh,2017-06-23 09:15:00,0,0,0,0,0,20
2,19117,257,2017-05-04 10:15:00,4051 S Broad St,1,Clubville,8777554279,30,2017-04-20 17:35:12,2143,...,100000237,https://clients.mindbodyonline.com/studios/Dem...,Dan Darragh,2017-05-04 09:15:00,0,0,0,0,0,20
3,19168,257,2017-06-19 10:15:00,4051 S Broad St,1,Clubville,8777554279,30,2017-06-16 17:40:04,2143,...,100000237,https://clients.mindbodyonline.com/studios/Dem...,Dan Darragh,2017-06-19 09:15:00,0,0,0,0,0,20
4,19169,257,2017-06-26 10:15:00,4051 S Broad St,1,Clubville,8777554279,30,2017-06-16 17:00:04,2143,...,100000237,https://clients.mindbodyonline.com/studios/Dem...,Dan Darragh,2017-06-26 09:15:00,0,0,0,0,0,20
5,19170,257,2017-05-07 10:15:00,4051 S Broad St,1,Clubville,8777554279,30,2017-04-20 17:35:12,2143,...,100000237,https://clients.mindbodyonline.com/studios/Dem...,Dan Darragh,2017-05-07 09:15:00,0,0,0,0,0,20
6,19365,223,2017-06-17 07:20:00,4051 S Broad St,1,Clubville,8777554279,20,2017-06-16 17:40:04,2152,...,100000285,https://clients.mindbodyonline.com/studios/Dem...,Ken Berry,2017-06-17 06:20:00,0,0,0,0,0,20
7,19366,223,2017-06-24 07:20:00,4051 S Broad St,1,Clubville,8777554279,20,2017-06-16 17:00:04,2152,...,100000285,https://clients.mindbodyonline.com/studios/Dem...,Ken Berry,2017-06-24 06:20:00,0,0,0,0,0,20
8,19367,223,2017-05-05 07:20:00,4051 S Broad St,1,Clubville,8777554279,20,2017-04-20 17:35:12,2152,...,100000285,https://clients.mindbodyonline.com/studios/Dem...,Staff,2017-05-05 06:20:00,0,0,0,0,0,20
9,19417,223,2017-06-19 07:20:00,4051 S Broad St,1,Clubville,8777554279,20,2017-06-16 17:40:04,2152,...,100000285,https://clients.mindbodyonline.com/studios/Dem...,Ken Berry,2017-06-19 06:20:00,0,1,0,0,1,20
10,19418,223,2017-06-26 07:20:00,4051 S Broad St,1,Clubville,8777554279,20,2017-06-16 17:00:04,2152,...,100000285,https://clients.mindbodyonline.com/studios/Dem...,Ken Berry,2017-06-26 06:20:00,0,0,0,0,0,20
11,19419,223,2017-05-07 07:20:00,4051 S Broad St,1,Clubville,8777554279,20,2017-04-20 17:35:12,2152,...,100000285,https://clients.mindbodyonline.com/studios/Dem...,Staff,2017-05-07 06:20:00,0,0,0,0,0,20
12,19470,223,2017-06-21 07:20:00,4051 S Broad St,1,Clubville,8777554279,20,2017-06-16 17:40:04,2152,...,100000285,https://clients.mindbodyonline.com/studios/Dem...,Ken Berry,2017-06-21 06:20:00,0,0,0,0,0,20
13,19471,223,2017-06-28 07:20:00,4051 S Broad St,1,Clubville,8777554279,20,2017-06-16 17:00:04,2152,...,100000285,https://clients.mindbodyonline.com/studios/Dem...,Ken Berry,2017-06-28 06:20:00,0,0,0,0,0,20
14,19472,223,2017-05-09 07:20:00,4051 S Broad St,1,Clubville,8777554279,20,2017-04-20 17:35:12,2152,...,100000285,https://clients.mindbodyonline.com/studios/Dem...,Staff,2017-05-09 06:20:00,0,0,0,0,0,20
15,19990,168,2017-06-17 17:15:00,4051 S Broad St,1,Clubville,8777554279,12,2017-06-16 17:40:04,2171,...,100000280,None,Kristin Gause,2017-06-17 16:00:00,0,0,0,0,0,0
16,19991,168,2017-06-24 17:15:00,4051 S Broad St,1,Clubville,8777554279,12,2017-06-16 17:00:04,2171,...,100000280,None,Kristin Gause,2017-06-24 16:00:00,0,0,0,0,0,0
17,19992,168,2017-05-05 17:15:00,4051 S Broad St,1,Clubville,8777554279,12,2017-04-20 17:35:12,2171,...,100000280,None,Kristin Gause,2017-05-05 16:00:00,0,0,0,0,0,0
18,20042,168,2017-06-18 17:15:00,4051 S Broad St,1,Clubville,8777554279,12,2017-06-16 17:40:04,2171,...,100000280,None,Kristin Gause,2017-06-18 16:00:00,0,0,0,0,0,0
19,20043,168,2017-06-25 17:15:00,4051 S Broad St,1,Clubville,8777554279,12,2017-06-16 17:00:04,2171,...,100000280,None,Kristin Gause,2017-06-25 16:00:00,0,0,0,0,0,0
20,20044,168,2017-05-06 17:15:00,4051 S Broad St,1,Clubville,8777554279,12,2017-04-20 17:35:12,2171,...,100000280,None,Kristin Gause,2017-05-06 16:00:00,0,0,0,0,0,0
21,20095,168,2017-06-19 17:15:00,4051 S Broad St,1,Clubville,8777554279,12,2017-06-16 17:40:04,2171,...,100000280,None,Kristin Gause,2017-06-19 16:00:00,0,0,0,0,0,0
22,20096,168,2017-06-26 17:15:00,4051 S Broad St,1,Clubville,8777554279,12,2017-06-16 17:00:04,2171,...,100000280,None,Kristin Gause,2017-06-26 16:00:00,0,0,0,0,0,0
23,20097,168,2017-05-07 17:15:00,4051 S Broad St,1,Clubville,8777554279,12,2017-04-20 17:35:12,2171,...,100000280,None,Kristin Gause,2017-05-07 16:00:00,0,0,0,0,0,0
24,20148,168,2017-06-20 17:15:00,4051 S Broad St,1,Clubville,8777554279,12,2017-06-16 17:40:04,2171,...,100000280,None,Kristin Gause,2017-06-20 16:00:00,0,0,0,0,0,0
25,20149,168,2017-06-27 17:15:00,4051 S Broad St,1,Clubville,8777554279,12,2017-06-16 17:00:04,2171,...,100000280,None,Kristin Gause,2017-06-27 16:00:00,0,0,0,0,0,0
26,20150,168,2017-05-08 17:15:00,4051 S Broad St,1,Clubville,8777554279,12,2017-04-20 17:35:12,2171,...,100000280,None,Kristin Gause,2017-05-08 16:00:00,0,0,0,0,0,0
27,20201,168,2017-06-21 17:15:00,4051 S Broad St,1,Clubville,8777554279,12,2017-06-16 17:40:04,2171,...,100000280,None,Kristin Gause,2017-06-21 16:00:00,0,0,0,0,0,0
28,20202,168,2017-06-28 17:15:00,4051 S Broad St,1,Clubville,8777554279,12,2017-06-16 17:00:04,2171,...,100000280,None,Kristin Gause,2017-06-28 16:00:00,0,0,0,0,0,0
29,20203,168,2017-05-09 17:15:00,4051 S Broad St,1,Clubville,8777554279,12,2017-04-20 17:35:12,2171,...,100000280,None,Kristin Gause,2017-05-09 16:00:00,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,25405,346,2017-05-15 08:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-05-11 10:00:04,2265,...,100000323,None,Demoowner Account,2017-05-15 05:00:00,0,0,0,0,0,10
193,25457,346,2017-05-16 08:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-05-11 10:00:04,2266,...,100000323,None,Demoowner Account,2017-05-16 05:00:00,0,0,0,0,0,10
194,25510,346,2017-05-17 08:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-05-11 10:00:04,2267,...,100000323,None,Demoowner Account,2017-05-17 05:00:00,0,0,0,0,0,10
195,25562,346,2017-05-11 08:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-05-11 10:00:04,2268,...,100000323,None,Demoowner Account,2017-05-11 05:00:00,0,0,0,0,0,10
196,25563,346,2017-05-18 08:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-05-11 10:00:04,2268,...,100000323,None,Demoowner Account,2017-05-18 05:00:00,0,0,0,0,0,10
197,25614,223,2017-04-23 09:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-04-18 14:50:05,2269,...,100000237,https://clients.mindbodyonline.com/studios/Dem...,Dan Darragh,2017-04-23 08:00:00,0,0,0,0,0,10
198,25615,346,2017-05-12 08:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-05-11 10:00:04,2269,...,100000323,None,Demoowner Account,2017-05-12 05:00:00,0,1,0,0,0,10
199,25616,223,2017-05-07 09:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-04-18 14:35:07,2269,...,100000237,https://clients.mindbodyonline.com/studios/Dem...,Dan Darragh,2017-05-07 08:00:00,0,0,0,0,0,10
200,25667,347,2017-05-15 08:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-05-11 10:00:04,2270,...,100000295,None,Julie Joneson,2017-05-15 07:00:00,0,0,0,0,0,10
201,25668,223,2017-05-01 09:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-04-18 14:35:03,2270,...,100000237,https://clients.mindbodyonline.com/studios/Dem...,Dan Darragh,2017-05-01 08:00:00,0,0,0,0,0,10
202,25669,223,2017-05-08 09:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-04-18 14:35:07,2270,...,100000237,https://clients.mindbodyonline.com/studios/Dem...,Dan Darragh,2017-05-08 08:00:00,0,0,0,0,0,10
203,25719,347,2017-05-16 08:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-05-11 10:00:04,2271,...,100000295,None,Julie Joneson,2017-05-16 07:00:00,0,0,0,0,0,10
204,25720,223,2017-04-25 09:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-04-18 14:50:05,2271,...,100000237,https://clients.mindbodyonline.com/studios/Dem...,Dan Darragh,2017-04-25 08:00:00,0,0,0,0,0,10
205,25721,223,2017-05-02 09:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-04-18 14:35:07,2271,...,100000237,https://clients.mindbodyonline.com/studios/Dem...,Dan Darragh,2017-05-02 08:00:00,0,0,0,0,0,10
206,25772,347,2017-05-17 08:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-05-11 10:00:04,2272,...,100000295,None,Julie Joneson,2017-05-17 07:00:00,0,0,0,0,0,10
207,25773,223,2017-04-26 09:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-04-18 14:35:03,2272,...,100000237,https://clients.mindbodyonline.com/studios/Dem...,Dan Darragh,2017-04-26 08:00:00,0,0,0,0,0,10
208,25774,223,2017-05-03 09:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-04-18 14:35:07,2272,...,100000237,https://clients.mindbodyonline.com/studios/Dem...,Dan Darragh,2017-05-03 08:00:00,0,0,0,0,0,10
209,25824,347,2017-05-11 08:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-05-11 10:00:04,2273,...,100000295,None,Julie Joneson,2017-05-11 07:00:00,0,0,0,0,0,10
210,25825,347,2017-05-18 08:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-05-11 10:00:04,2273,...,100000295,None,Julie Joneson,2017-05-18 07:00:00,0,0,0,0,0,10
211,25826,223,2017-05-04 09:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-04-18 14:35:07,2273,...,100000237,https://clients.mindbodyonline.com/studios/Dem...,Dan Darragh,2017-05-04 08:00:00,0,0,0,0,0,10
212,25876,223,2017-04-21 09:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-04-18 14:50:05,2274,...,100000237,https://clients.mindbodyonline.com/studios/Dem...,Dan Darragh,2017-04-21 08:00:00,0,0,0,0,0,10
213,25877,347,2017-05-12 08:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-05-11 10:00:04,2274,...,100000295,None,Julie Joneson,2017-05-12 07:00:00,0,1,0,0,1,10
214,25878,223,2017-05-05 09:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-04-18 14:35:07,2274,...,100000237,https://clients.mindbodyonline.com/studios/Dem...,Dan Darragh,2017-05-05 08:00:00,0,0,0,0,0,10
215,25928,223,2017-04-22 09:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-04-18 14:50:05,2275,...,100000237,https://clients.mindbodyonline.com/studios/Dem...,Dan Darragh,2017-04-22 08:00:00,0,0,0,0,0,10
216,25929,223,2017-04-29 09:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-04-18 14:35:03,2275,...,100000237,https://clients.mindbodyonline.com/studios/Dem...,Dan Darragh,2017-04-29 08:00:00,0,0,0,0,0,10
217,25930,223,2017-05-06 09:00:00,4051 S Broad St,1,Clubville,8777554279,10,2017-04-18 14:35:07,2275,...,100000237,https://clients.mindbodyonline.com/studios/Dem...,Dan Darragh,2017-05-06 08:00:00,0,0,0,0,0,10
218,26086,349,2017-04-27 10:15:00,4051 S Broad St,1,Clubville,8777554279,10,2017-04-20 17:35:09,2278,...,100000314,None,Erin Coffey,2017-04-27 10:00:00,0,0,0,0,0,10
219,26087,349,2017-05-04 10:15:00,4051 S Broad St,1,Clubville,8777554279,10,2017-04-20 17:35:12,2278,...,100000314,None,Erin Coffey,2017-05-04 10:00:00,0,0,0,0,0,10
220,26139,350,2017-04-27 10:30:00,4051 S Broad St,1,Clubville,8777554279,10,2017-04-20 17:35:09,2279,...,100000246,None,Donna Edwards,2017-04-27 10:15:00,0,0,0,0,0,10
221,26140,350,2017-05-04 10:30:00,4051 S Broad St,1,Clubville,8777554279,10,2017-04-20 17:35:12,2279,...,100000246,None,Donna Edwards,2017-05-04 10:15:00,0,0,0,0,0,10