In [1]:
%pylab inline
import pandas as pd
import numpy as np
from pandas import DataFrame,Series

Populating the interactive namespace from numpy and matplotlib

In [5]:
prices = pd.read_csv('stock_px.csv',index_col=0,parse_dates=True)
volume = pd.read_csv('volume.csv',index_col=0,parse_dates=True)

In [25]:
p_test = prices[['AAPL','JNJ','SPX','XOM']]['20110906':'20110914']
v_test = volume[['AAPL','JNJ','XOM']]['20110906':'20110912']

In [27]:
(p_test * v_test).sum()/v_test.sum()

AAPL    380.655181
JNJ      64.394769
SPX            NaN
XOM      72.024288
dtype: float64

In [30]:
s1 = Series(np.arange(3),index=['a','b','c'])
s2 = Series(np.arange(4),index=['d','b','c','e'])
s3 = Series(np.arange(3),index=['f','a','c'])
DataFrame({'one':s1,'two':s2,'three':s3})

   one  three  two
a  0.0    1.0  NaN
b  1.0    NaN  1.0
c  2.0    2.0  2.0
d  NaN    NaN  0.0
e  NaN    NaN  3.0
f  NaN    0.0  NaN